@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
/* loading */
div#loading{
    background-color: rgba(255, 255, 255, 0);
    height: 50px;
    width: 50px;
    padding: 20px;
    border-top: 5px solid rgb(7, 7, 46);
    border-bottom: 5px solid rgb(28, 28, 158);
    border-left: 5px solid rgb(28, 28, 158);
    border-right: 5px solid rgb(28, 28, 158);
    border-radius: 100%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    animation: girar 2s linear infinite;
}
@keyframes girar{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}
/* loading termina */

/* conteúdo principal */
#conteudo_principal{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;    
}
h1{
    font-family: 'Open Sans', sans-serif;
    color: white;
}
/* conteúdo principal termina */

/* introdução */
div#introducao{
    height: 100vh;
    display: flex;
    flex-direction: row;

}

div#conteudos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}
section#conteudo1{
    width: 50vw;
    height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}
section#conteudo2{
    background: url("../assets/img/imagem.png") no-repeat center center/cover;
    width: 50vw;
    height: 100vh;
}

h1{
    font-size: 100px;
    color: rgb(71, 74, 233);
    text-shadow: 0px 10px 10px rgb(3, 3, 243);
}

/* Efeito de digitação */
#typing{
    font-family: 'Courier New', monospace;
    white-space: nowrap;
    overflow: hidden;
}
.caret{
    display: inline-block;
    margin-left: 1px;
    font-size: 90px;
    color: rgb(71, 74, 233);
    line-height: 0.85;
    animation: blink 1s steps(2) infinite;
}
@keyframes blink{
    50%{ opacity: 0 }
}
h2.titulo{
    margin-left: 50px;
    font-size: 60px;
    color: white;
    font-family: 'Open Sans', sans-serif;

}
.slogan{
    font-size: 30px;
    color: rgb(219, 219, 219);
}
/* introdução termina */

/* mabakaizen */
#mabakaizen{
    background-color: rgb(20, 21, 95);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* mabakaizen termina */

/* quem somos */
div#quemsomos{
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

#tquem{
    align-self: center;
}
#perguntas{
    background-color: rgb(20, 21, 95);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 2s;
    animation: sombra 3s  linear infinite;
    
    
}
#perguntas:hover{
    animation: none;
    box-shadow: 0px 0px 50px blue;
    border: 1px solid blue;
}
@keyframes sombra {
    0%{
        box-shadow: -2px 0px 1px  blue; 
    }
    20%{
        box-shadow: 0px 2px 1px  blue; 
    }
    50%{
        box-shadow: 2px 0px 1px  blue; 
    }
    100%{
        box-shadow: 0px -2px 1px  blue; 
    }   
}
button{
    background-color: rgb(20, 21, 95);
    color: white;
    font-size: 20px;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.texto{
    display: none;

}
/* quem somos termina */

/* Equipe */
#equipe{
    background-color: rgb(20, 21, 95);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#card1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

#card{
    background-color:  rgb(7, 7, 46);
    border-radius: 10px;
    padding:20px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 2s;
}
#card:hover{
    box-shadow: 0px 0px 20px  rgb(64, 19, 230);
    width: 600px;
    border-top: 5px solid blue;
    border-bottom: 1px solid blue;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    
    
}
#detalhes, #detalhes1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
#detalhes1{
    display: none;
    
}
#card:hover #detalhes{
    display: none;
    

}
#card:hover #detalhes1{
    display: flex;
    
}

/* Equipe termina */


/* colaboradores */
#co{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#colaboradores{
    display: flex;
    padding: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:50px;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
#logo{
    border: 5px double blue;
    padding: 2px;
    animation: img_saltar 2s linear infinite;
}
@keyframes img_saltar {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
    
}
/* colaboradores termina */


/* aeta para baixo */
#seta-down{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}
#seta{
    background-color: rgba(15, 15, 204, 0.623);
    box-shadow: 0px 0px 20px blue;
    color: white;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    align-self: center;
    font-size: 40px;
    animation: img_saltar 2s linear infinite;

}
/* termina seta para baixo */

/* servicos e produtos */
#work{
    background-color: rgb(20, 21, 95);
    padding: 10px;
    display: flex;
    flex-direction: column;

}
#linha_principal{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;

}
#linha{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#linha1{
    width: 300px;
    border: 3px solid blue;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: 2s;
}
#linha1:hover{
    background-color: rgb(24, 24, 119);
    box-shadow: 0px 0px 20px blue;
    border: 1px solid blue;   
}
#iconw{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
/* termina serviços  e produtos */

/* footer */

footer{
    height: 5%;
}
footer #rodape{
    text-align: center;
    margin-top: 5px;
}
p{
    color: rgb(224, 219, 219);
    font-family: "Jersey 10", sans-serif;
    font-size: 25px;
    text-align: left;
    
}
h2#tquem{
    color: white;
    
}
h2{
    color: rgb(201, 196, 196);
}
.nome{
    font-family: "Dancing Script", sans-serif;
    font-size: 30px;
    color: white;
}
#iconw{
    color: white;
    font-weight: 100px;
}
#trabalho{
    color: rgb(201, 196, 196);
}

/* media-querie para celular */

@media (max-width: 600px) {
    div#introducao{
        flex-direction: column;
    }
    section#conteudo1{
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    section#conteudo2{
        
        width: 0vw;
        height: 0vh;
        display: none;
    }
    #conteudos{
        margin-right: 100px;
    }
    h1{
        font-size: 50px;
        
    }
    h2.titulo{
        font-size: 30px;
        
    }
    .slogan{
        font-size: 20px;
        margin-left: 50px;
    }
    #card1{
        flex-direction: column;
        align-items: center;
    }
    #card:hover{
        width: 300px;
        
        transition: 2s;
    }
    #card{
        width: 250px;
    }
    #linha_principal{
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}

/* para tablet */

@media only screen and (min-width: 601px) and (max-width: 1000px){
    div#introducao{
        flex-direction: column;
    }
    section#conteudo1{
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    section#conteudo2{
        
        width: 0vw;
        height: 0vh;
        display: none;
    }
    #conteudos{
        margin-right: 100px;
    }
    h1{
        font-size: 70px;
        
    }
    h2.titulo{
        font-size: 40px;
        
    }
    .slogan{
        font-size: 25px;
        margin-left: 50px;
    }
    #card1{
        flex-direction: column;
        align-items: center;
    }
    #card:hover{
        width: 300px;
        
        transition: 2s;
    }
    #card{
        width: 250px;
    }
    #linha_principal{
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
}

/* tela tv */

@media screen and (min-width: 1500px) and (max-width: 2000px){
    h1{
        font-size: 150px;
    }
    h2.titulo{
        font-size: 90px;
    }
    .slogan{
        font-size: 50px;
    }
    
}